@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

:root {
  --main-color: #FF3366;
  --bg-color: #011627;
  --font-size: 6rem;
  --animated-div-width: 27.375rem;
  --icon-size: 4rem;
}

@media screen and (max-width: 900px) {
  :root {
    --font-size: 4rem;
    --animated-div-width: 18.25rem;
    --icon-size: 2.5rem;
  }
}

html, body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  font-family: 'Raleway';
  color: var(--main-color);
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

main {
  font-size: var(--font-size);
  margin: auto;
}

.page-wrapper {
  min-height: 100%;
  max-width: 100%;
  font-size: var(--font-size);
  padding: 2rem 1rem;
}

footer {
  align-self: flex-end;
  margin: 2.5rem 4rem 2.5rem 0;
  text-align: right;
}

@media screen and (max-width: 900px) {
  footer {
    margin: 0 0 2.5rem 0;
    margin-top: auto;
    text-align: center;
    align-self: auto;
  }
}

header, main {
  -ms-flex-negative: 0;
    flex-shrink: 0;
}

.main-text {
  line-height: var(--font-size);
}

.main-text .inline {
  display: inline-block;
  height: var(--font-size);
  vertical-align: top;
}

.animated {
  height: var(--font-size);
  width: var(--animated-div-width);
}

.animated span {
  opacity: 0;
  height: var(--font-size);
  position: absolute;
  -ms-animation: changingText 4.8s infinite;
  -webkit-animation: changingText 4.8s infinite;
  animation: changingText 4.8s infinite;
}

.animated span:nth-child(2) {
  -ms-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  animation-timing-function: ease-out;
}

.animated span:nth-child(3) {
  -ms-animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
  animation-timing-function: ease-out;
}

.animated span:nth-child(4) {
  -ms-animation-delay: 3.6s;
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
}

@keyframes changingText {
  0%, 25% { opacity: 1 }
  25.01%, 100% { opacity: 0 }
}

span .color-1 {
  color: #2EC4B6;
}

span .color-2 {
  color: #F2AF29;
}

span .color-3 {
  color: #DBDBDB;
}

span .color-4 {
  color: #F7E733;
}

.icon {
  margin: 2rem 1rem 0 1rem;
  display: inline-block;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .icon {
    margin: 0.5rem 0.5rem 0 0.5rem;
  }
}

.icon object {
  width: var(--icon-size);
  height: var(--icon-size);
  transition: all 0.4s ease;
  transition-property: transform;
}

a.icon-link {
  color: var(--main-color);
  text-decoration: none;
}

a:hover.icon-link object {
  transform: translateY(-10px);
  filter: saturate(130%) hue-rotate(-160deg) brightness(150%);
  transition: all 0.4s ease;
  transition-property: transform;
}

object {
  pointer-events: none;
}

::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
