@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400&display=swap');
@import url('all.min.css');

:root {
  --main-color: #00ff85;
  --bg-color: #111919;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(17, 25, 25, 255);
  font-family: 'Overpass';
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  overflow-x: auto;
  padding: 2rem 1rem;
}

main {
  flex: 1 0 auto;
}

footer {
  margin-top: -2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

header, main {
  flex-shrink: 0;
}

.main-text .static {
  line-height: 4rem;
  overflow-wrap: break-word;
}

.main-text .static.inline {
  display: inline-block;
  vertical-align: middle;
}

.v-slider-frame {
  display: inline-block;
  height: 4rem;
  width: 23rem;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
  position: relative;
}

.v-slider-frame:after {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background: -moz-linear-gradient(top,  rgba(17, 25, 25, 255) 0%, rgba(17, 25, 25, 0) 20%, rgba(17, 25, 25, 0) 80%, rgba(17, 25, 25, 255) 100%);
  background: -webkit-linear-gradient(top, rgba(17, 25, 25, 255) 0%, rgba(17, 25, 25, 0) 20%,rgba(17, 25, 25, 0) 80%, rgba(17, 25, 25, 255) 100%);
  background: linear-gradient(to bottom, rgba(17, 25, 25, 255) 0%, rgba(17, 25, 25, 0) 20%,rgba(17, 25, 25, 0) 80%, rgba(17, 25, 25, 255) 100%);
}

ul.v-slides {
  list-style-type: none;
  transform: translateY(4rem);
  padding:0;
  margin:0;
}

.v-slide {
  line-height: 4rem;
}

.v-slide .ruby {
  color: #cc0000;
}

.v-slide .go {
  color: #00c2ff;
}

.v-slide .fullstack {
  color: #744bcb;
}

.v-slide .game {
  color: #e7b816;
}

.icon {
  margin: 0 15px;
  display: inline-block;
}

.icon object {
  width: 2.5rem;
  height: 2.5rem;
}

a.icon-link {
  color: var(--main-color);
  text-decoration: none;
}

object {
  pointer-events: none;
}
